@use "../../../shared-styles/types.scss";


.container{
  width: 90%;
  margin: auto;
}

mat-card{
  padding: 3.2rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  mat-card-title-group{
    margin-bottom: 1.6rem;
  }

  .types{
    gap: 1.6rem;
  }

  img{
    width: 20rem;
    height: auto;
  }

  mat-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats{
    margin-top: 4rem;

    p{
      margin-bottom: 0.8rem;
    }
  }
}

.header-row{
  gap: 1.6rem;
  display: flex;
  flex-direction: row !important;
  margin: 1.6rem;
}

.mat-mdc-progress-bar {
   //progress bar color
  --mdc-linear-progress-track-color: black; // background color

}

.bad{
  --mdc-linear-progress-active-indicator-color: #f34444 !important;
}
.average{
  --mdc-linear-progress-active-indicator-color: #ff7f0f !important;
}
.good{
  --mdc-linear-progress-active-indicator-color: #a0e515 !important;
}
.great{
  --mdc-linear-progress-active-indicator-color: #23cd5e !important;
}
.perfect{
  --mdc-linear-progress-active-indicator-color: #00c2b8 !important;
}
