<ng-container *ngIf="pokemon">
  <mat-card class="example-card">
    <a [routerLink]="['/details',pokemon.id]">
      <mat-card-header>
        <mat-card-subtitle>#{{leadingZeros(pokemon.id)}}</mat-card-subtitle>
        <mat-card-title>{{capitalize(pokemon.name)}}</mat-card-title>
      </mat-card-header>
      <img mat-card-md-image [src]="getImage(pokemon.id)" [alt]="'Photo of ' + pokemon.name">
    </a>
    <mat-card-content>
      <ul class="types">
        <li *ngFor="let typ of pokemon.types ">
          <a [class]="'type ' + typ.type.name.toLowerCase()" [routerLink]="['/search',typ.type.name]"  >{{typ.type.name}}</a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</ng-container>


