/* You can add global styles to this file, and also import other style files */

@use "config-scss/reset.scss";

html, body {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

@supports (-moz-appearance:none) {
  .mat-form-field-label-wrapper {
          margin-top: -6px;
  }
}

@-moz-document url-prefix() {
  .mat-form-field-label-wrapper {
      margin-top: -6px;
  }
}
