ul.types{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  a{
    text-decoration: none;
    color: #fff;
  }
  .type{
    display: block;
    width: 66px;

    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4px;

    line-height: 2.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow:  0.75px 1.5px rgba(0,0,0,.7);
    text-align: center;

    transition: opacity .2s;

    background-color: aquamarine;
    &.normal {
      background-color:#aa9
    }
    &.fire {
      background-color:#f42
    }
    &.water {
      background-color:#39f
    }
    &.electric {
      background-color:#fc3
    }
    &.grass{
      background-color: #7c5;
    }
    &.ice {
      background-color:#6cf
    }
    &.fighting {
      background-color:#b54
    }
    &.poison{
      background-color: #a59;
    }
    &.ground {
      background-color:#db5
    }
    &.flying {
      background-color:#89f
    }
    &.psychic {
      background-color:#f59
    }
    &.bug {
      background-color:#ab2
    }
    &.rock {
      background-color:#ba6
    }
    &.ghost {
      background-color:#66b
    }
    &.dragon {
      background-color:#76e
    }
    &.dark {
      background-color:#754
    }
    &.steel {
      background-color:#aab
    }
    &.fairy {
      background-color:#e9e
    }
  }
  .type:hover{
    opacity: .75;
  }
}
